@charset "UTF-8";

/*!
 * Bootstrap  v5.3.3 (https://getbootstrap.com/)
 * Copyright 2011-2024 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

[dir="rtl"] .ck-content {
  [type="tel"],
  [type="url"],
  [type="email"],
  [type="number"] {
    direction: ltr;
  }
}

.ck-content *,
.ck-content *::before,
.ck-content *::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .ck-content :root {
    scroll-behavior: smooth;
  }
}

.ck-content body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ck-content hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

.ck-content h6, .ck-content .h6, .ck-content h5, .ck-content .h5, .ck-content h4, .ck-content .h4, .ck-content h3, .ck-content .h3, .ck-content h2, .ck-content .h2, .ck-content h1, .ck-content .h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: var(--bs-heading-color);
}

.ck-content h1, .ck-content .h1 {
  font-size: calc(1.45rem + 2.4vw);
}

@media (min-width: 1200px) {
  .ck-content h1, .ck-content .h1 {
    font-size: 3.25rem;
  }
}

.ck-content h2, .ck-content .h2 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .ck-content h2, .ck-content .h2 {
    font-size: 2.5rem;
  }
}

.ck-content h3, .ck-content .h3 {
  font-size: calc(1.3125rem + .75vw);
}

@media (min-width: 1200px) {
  .ck-content h3, .ck-content .h3 {
    font-size: 1.875rem;
  }
}

.ck-content h4, .ck-content .h4 {
  font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
  .ck-content h4, .ck-content .h4 {
    font-size: 1.5rem;
  }
}

.ck-content h5, .ck-content .h5 {
  font-size: 1.25rem;
}

.ck-content h6, .ck-content .h6 {
  font-size: 1rem;
}

.ck-content p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ck-content abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.ck-content address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.ck-content ol,
.ck-content ul {
  
  padding-left: 2rem;
}

[dir="rtl"] .ck-content ol,
[dir="rtl"] .ck-content ul {
  padding-left: 0;
  
  padding-right: 2rem;
}

.ck-content ol,
.ck-content ul,
.ck-content dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ck-content ol ol,
.ck-content ul ul,
.ck-content ol ul,
.ck-content ul ol {
  margin-bottom: 0;
}

.ck-content dt {
  font-weight: 700;
}

.ck-content dd {
  margin-bottom: .5rem;
  
  margin-left: 0;
}

[dir="rtl"] .ck-content dd {
  margin-left: 0;
  
  margin-right: 0;
}

.ck-content blockquote {
  margin: 0 0 1rem;
}

.ck-content b,
.ck-content strong {
  font-weight: bolder;
}

.ck-content small, .ck-content .small {
  font-size: .875em;
}

.ck-content mark, .ck-content .mark {
  padding: .1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
}

.ck-content sub,
.ck-content sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

.ck-content sub {
  bottom: -0.25em;
}

.ck-content sup {
  top: -0.5em;
}

.ck-content a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.ck-content a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: none;
}

.ck-content a:not([href]):not([class]), .ck-content a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.ck-content pre,
.ck-content code,
.ck-content kbd,
.ck-content samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

.ck-content pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em;
}

.ck-content pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

.ck-content code {
  font-size: .875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}

a > .ck-content code {
  color: inherit;
}

.ck-content kbd {
  padding: .1875rem .375rem;
  font-size: .875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: .125rem;
}

.ck-content kbd kbd {
  padding: 0;
  font-size: 1em;
}

.ck-content figure {
  margin: 0 0 1rem;
}

.ck-content img,
.ck-content svg {
  vertical-align: middle;
}

.ck-content table {
  caption-side: bottom;
  border-collapse: collapse;
}

.ck-content caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: var(--bs-secondary-color);
  
  text-align: left;
}

[dir="rtl"] .ck-content caption {
  
  text-align: right;
}

.ck-content th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

.ck-content thead,
.ck-content tbody,
.ck-content tfoot,
.ck-content tr,
.ck-content td,
.ck-content th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.ck-content label {
  display: inline-block;
}

.ck-content button {
  border-radius: 0;
}

.ck-content button:focus:not(:focus-visible) {
  outline: 0;
}

.ck-content input,
.ck-content button,
.ck-content select,
.ck-content optgroup,
.ck-content textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ck-content button,
.ck-content select {
  text-transform: none;
}

.ck-content [role=button] {
  cursor: pointer;
}

.ck-content select {
  word-wrap: normal;
}

.ck-content select:disabled {
  opacity: 1;
}

.ck-content [list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

.ck-content button,
.ck-content [type=button],
.ck-content [type=reset],
.ck-content [type=submit] {
  -webkit-appearance: button;
}

.ck-content button:not(:disabled),
.ck-content [type=button]:not(:disabled),
.ck-content [type=reset]:not(:disabled),
.ck-content [type=submit]:not(:disabled) {
  cursor: pointer;
}

.ck-content ::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.ck-content textarea {
  resize: vertical;
}

.ck-content fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.ck-content legend {
  
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit;
}

[dir="rtl"] .ck-content legend {
  
  float: right;
}

@media (min-width: 1200px) {
  .ck-content legend {
    font-size: 1.5rem;
  }
}

.ck-content legend + * {
  
  clear: left;
}

[dir="rtl"] .ck-content legend + * {
  
  clear: right;
}

.ck-content ::-webkit-datetime-edit-fields-wrapper,
.ck-content ::-webkit-datetime-edit-text,
.ck-content ::-webkit-datetime-edit-minute,
.ck-content ::-webkit-datetime-edit-hour-field,
.ck-content ::-webkit-datetime-edit-day-field,
.ck-content ::-webkit-datetime-edit-month-field,
.ck-content ::-webkit-datetime-edit-year-field {
  padding: 0;
}

.ck-content ::-webkit-inner-spin-button {
  height: auto;
}

.ck-content [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.ck-content ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.ck-content ::-webkit-color-swatch-wrapper {
  padding: 0;
}

.ck-content ::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

.ck-content output {
  display: inline-block;
}

.ck-content iframe {
  border: 0;
}

.ck-content summary {
  display: list-item;
  cursor: pointer;
}

.ck-content progress {
  vertical-align: baseline;
}

.ck-content [hidden] {
  display: none !important;
}

.ck-content .lead {
  font-size: calc(1.265625rem + .1875vw);
  font-weight: 500;
}

@media (min-width: 1200px) {
  .ck-content .lead {
    font-size: 1.40625rem;
  }
}

.ck-content .display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-1 {
    font-size: 5rem;
  }
}

.ck-content .display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-2 {
    font-size: 4.5rem;
  }
}

.ck-content .display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-3 {
    font-size: 4rem;
  }
}

.ck-content .display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-4 {
    font-size: 3.5rem;
  }
}

.ck-content .display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-5 {
    font-size: 3rem;
  }
}

.ck-content .display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 1200px) {
  .ck-content .display-6 {
    font-size: 2.5rem;
  }
}

.ck-content .list-unstyled {
  
  padding-left: 0;
  list-style: none;
}

[dir="rtl"] .ck-content .list-unstyled {
  padding-left: 0;
  
  padding-right: 0;
}

.ck-content .list-inline {
  
  padding-left: 0;
  list-style: none;
}

[dir="rtl"] .ck-content .list-inline {
  padding-left: 0;
  
  padding-right: 0;
}

.ck-content .list-inline-item {
  display: inline-block;
}

.ck-content .list-inline-item:not(:last-child) {
  
  margin-right: .5rem;
}

[dir="rtl"] .ck-content .list-inline-item:not(:last-child) {
  margin-right: 0;
  
  margin-left: .5rem;
}

.ck-content .initialism {
  font-size: .875em;
  text-transform: uppercase;
}

.ck-content .blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.ck-content .blockquote > :last-child {
  margin-bottom: 0;
}

.ck-content .blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: #6c757d;
}

.ck-content .blockquote-footer::before {
  content: "— ";
}

.ck-content .img-fluid {
  max-width: 100%;
  height: auto;
}

.ck-content .img-thumbnail {
  padding: .25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}

.ck-content .figure {
  display: inline-block;
}

.ck-content .figure-img {
  margin-bottom: .5rem;
  line-height: 1;
}

.ck-content .figure-caption {
  font-size: .875em;
  color: var(--bs-secondary-color);
}

.ck-content .table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), .05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), .1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), .075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

.ck-content .table > :not(caption) > * > * {
  padding: .5rem .5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.ck-content .table > tbody {
  vertical-align: inherit;
}

.ck-content .table > thead {
  vertical-align: bottom;
}

.ck-content .table-group-divider {
  border-top: calc(var(--bs-border-width) * 2) solid currentcolor;
}

.ck-content .caption-top {
  caption-side: top;
}

.ck-content .table-sm > :not(caption) > * > * {
  padding: .25rem .25rem;
}

.ck-content .table-bordered > :not(caption) > * {
  border-width: var(--bs-border-width) 0;
}

.ck-content .table-bordered > :not(caption) > * > * {
  border-width: 0 var(--bs-border-width);
}

.ck-content .table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}

.ck-content .table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.ck-content .table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.ck-content .table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.ck-content .table-active {
  --bs-table-color-state: var(--bs-table-active-color);
  --bs-table-bg-state: var(--bs-table-active-bg);
}

.ck-content .table-hover > tbody > tr:hover > * {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.ck-content .table-primary {
  --bs-table-color: #000;
  --bs-table-bg: #cfe2ff;
  --bs-table-border-color: #a6b5cc;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-secondary {
  --bs-table-color: #000;
  --bs-table-bg: #dccff3;
  --bs-table-border-color: #b0a6c2;
  --bs-table-striped-bg: #d1c5e7;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #c6badb;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ccbfe1;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-success {
  --bs-table-color: #000;
  --bs-table-bg: #d1e7dd;
  --bs-table-border-color: #a7b9b1;
  --bs-table-striped-bg: #c7dbd2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6cc;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-info {
  --bs-table-color: #000;
  --bs-table-bg: #cff4fc;
  --bs-table-border-color: #a6c3ca;
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfe2e9;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-warning {
  --bs-table-color: #000;
  --bs-table-bg: #fff3cd;
  --bs-table-border-color: #ccc2a4;
  --bs-table-striped-bg: #f2e7c3;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6dbb9;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece1be;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-danger {
  --bs-table-color: #000;
  --bs-table-bg: #f8d7da;
  --bs-table-border-color: #c6acae;
  --bs-table-striped-bg: #eccccf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c7ca;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-light {
  --bs-table-color: #000;
  --bs-table-bg: #f8f9fa;
  --bs-table-border-color: #c6c7c8;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #212529;
  --bs-table-border-color: #4d5154;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.ck-content .table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .ck-content .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767.98px) {
  .ck-content .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991.98px) {
  .ck-content .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1199.98px) {
  .ck-content .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1399.98px) {
  .ck-content .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.ck-content .btn {
  --bs-btn-padding-x: .75rem;
  --bs-btn-padding-y: .375rem;
  --bs-btn-font-family:  ;
  --bs-btn-font-size: 1.125rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  --bs-btn-disabled-opacity: .65;
  --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .ck-content .btn {
    transition: none;
  }
}

.ck-content .btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-check + .ck-content .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}

.ck-content .btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:focus-visible + .ck-content .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:checked + .ck-content .btn, :not(.btn-check) + .ck-content .btn:active, .ck-content .btn:first-child:active, .ck-content .btn.active, .ck-content .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.btn-check:checked + .ck-content .btn:focus-visible, :not(.btn-check) + .ck-content .btn:active:focus-visible, .ck-content .btn:first-child:active:focus-visible, .ck-content .btn.active:focus-visible, .ck-content .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:checked:focus-visible + .ck-content .btn {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.ck-content .btn:disabled, .ck-content .btn.disabled, fieldset:disabled .ck-content .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.ck-content .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.ck-content .btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #520dc2;
  --bs-btn-border-color: #520dc2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #460ba5;
  --bs-btn-hover-border-color: #420a9b;
  --bs-btn-focus-shadow-rgb: 108, 49, 203;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #420a9b;
  --bs-btn-active-border-color: #3e0a92;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #520dc2;
  --bs-btn-disabled-border-color: #520dc2;
}

.ck-content .btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.ck-content .btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #31d2f2;
  --bs-btn-hover-border-color: #25cff2;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #3dd5f3;
  --bs-btn-active-border-color: #25cff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.ck-content .btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.ck-content .btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.ck-content .btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.ck-content .btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.ck-content .btn-outline-primary {
  --bs-btn-color: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

.ck-content .btn-outline-secondary {
  --bs-btn-color: #520dc2;
  --bs-btn-border-color: #520dc2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #520dc2;
  --bs-btn-hover-border-color: #520dc2;
  --bs-btn-focus-shadow-rgb: 82, 13, 194;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #520dc2;
  --bs-btn-active-border-color: #520dc2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #520dc2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #520dc2;
  --bs-gradient: none;
}

.ck-content .btn-outline-success {
  --bs-btn-color: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.ck-content .btn-outline-info {
  --bs-btn-color: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #0dcaf0;
  --bs-btn-hover-border-color: #0dcaf0;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #0dcaf0;
  --bs-btn-active-border-color: #0dcaf0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #0dcaf0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0dcaf0;
  --bs-gradient: none;
}

.ck-content .btn-outline-warning {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}

.ck-content .btn-outline-danger {
  --bs-btn-color: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc3545;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #dc3545;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3545;
  --bs-gradient: none;
}

.ck-content .btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

.ck-content .btn-outline-dark {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.ck-content .btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  text-decoration: underline;
}

.ck-content .btn-link:hover, .ck-content .btn-link:focus-visible {
  text-decoration: none;
}

.ck-content .btn-link:focus-visible {
  color: var(--bs-btn-color);
}

.ck-content .btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.ck-content .btn-lg {
  --bs-btn-padding-y: .5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.125rem;
  --bs-btn-border-radius: 0;
}

.ck-content .btn-sm {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .875rem;
  --bs-btn-border-radius: 0;
}

.ck-content .badge {
  --bs-badge-padding-x: .65em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.ck-content .badge:empty {
  display: none;
}

.ck-content .btn .badge {
  position: relative;
  top: -1px;
}

.ck-content .list-group {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: .5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}

[dir="rtl"] .ck-content .list-group {
  padding-left: 0;
  
  padding-right: 0;
}

.ck-content .list-group-numbered {
  list-style-type: none;
  counter-reset: section;
}

.ck-content .list-group-numbered > .list-group-item::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}

.ck-content .list-group-item-action {
  width: 100%;
  color: var(--bs-list-group-action-color);
  text-align: inherit;
}

.ck-content .list-group-item-action:hover, .ck-content .list-group-item-action:focus {
  z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
  background-color: var(--bs-list-group-action-hover-bg);
}

.ck-content .list-group-item-action:active {
  color: var(--bs-list-group-action-active-color);
  background-color: var(--bs-list-group-action-active-bg);
}

.ck-content .list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.ck-content .list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.ck-content .list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.ck-content .list-group-item.disabled, .ck-content .list-group-item:disabled {
  color: var(--bs-list-group-disabled-color);
  pointer-events: none;
  background-color: var(--bs-list-group-disabled-bg);
}

.ck-content .list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-list-group-active-bg);
  border-color: var(--bs-list-group-active-border-color);
}

.ck-content .list-group-item + .list-group-item {
  border-top-width: 0;
}

.ck-content .list-group-item + .list-group-item.active {
  margin-top: calc(-1 * var(--bs-list-group-border-width));
  border-top-width: var(--bs-list-group-border-width);
}

.ck-content .list-group-horizontal {
  flex-direction: row;
}

.ck-content .list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  
  border-bottom-left-radius: var(--bs-list-group-border-radius);
  
  border-top-right-radius: 0;
}

[dir="rtl"] .ck-content .list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  border-bottom-left-radius: 0;
  
  border-bottom-right-radius: var(--bs-list-group-border-radius);
  border-top-right-radius: 0;
  
  border-top-left-radius: 0;
}

.ck-content .list-group-horizontal > .list-group-item:last-child:not(:first-child) {
  
  border-top-right-radius: var(--bs-list-group-border-radius);
  
  border-bottom-left-radius: 0;
}

[dir="rtl"] .ck-content .list-group-horizontal > .list-group-item:last-child:not(:first-child) {
  border-top-right-radius: 0;
  
  border-top-left-radius: var(--bs-list-group-border-radius);
  border-bottom-left-radius: 0;
  
  border-bottom-right-radius: 0;
}

.ck-content .list-group-horizontal > .list-group-item.active {
  margin-top: 0;
}

.ck-content .list-group-horizontal > .list-group-item + .list-group-item {
  border-top-width: var(--bs-list-group-border-width);
  
  border-left-width: 0;
}

[dir="rtl"] .ck-content .list-group-horizontal > .list-group-item + .list-group-item {
  border-left-width: medium;
  
  border-right-width: 0;
}

.ck-content .list-group-horizontal > .list-group-item + .list-group-item.active {
  
  margin-left: calc(-1 * var(--bs-list-group-border-width));
  
  border-left-width: var(--bs-list-group-border-width);
}

[dir="rtl"] .ck-content .list-group-horizontal > .list-group-item + .list-group-item.active {
  margin-left: 0;
  
  margin-right: calc(-1 * var(--bs-list-group-border-width));
  border-left-width: medium;
  
  border-right-width: var(--bs-list-group-border-width);
}

@media (min-width: 576px) {
  .ck-content .list-group-horizontal-sm {
    flex-direction: row;
  }

  .ck-content .list-group-horizontal-sm > .list-group-item:first-child:not(:last-child) {
    
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    
    border-top-right-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-sm > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
    
    border-top-left-radius: 0;
  }

  .ck-content .list-group-horizontal-sm > .list-group-item:last-child:not(:first-child) {
    
    border-top-right-radius: var(--bs-list-group-border-radius);
    
    border-bottom-left-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-sm > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: 0;
    
    border-top-left-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
  }

  .ck-content .list-group-horizontal-sm > .list-group-item.active {
    margin-top: 0;
  }

  .ck-content .list-group-horizontal-sm > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    
    border-left-width: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-sm > .list-group-item + .list-group-item {
    border-left-width: medium;
    
    border-right-width: 0;
  }

  .ck-content .list-group-horizontal-sm > .list-group-item + .list-group-item.active {
    
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    
    border-left-width: var(--bs-list-group-border-width);
  }

  [dir="rtl"] .ck-content .list-group-horizontal-sm > .list-group-item + .list-group-item.active {
    margin-left: 0;
    
    margin-right: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: medium;
    
    border-right-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 768px) {
  .ck-content .list-group-horizontal-md {
    flex-direction: row;
  }

  .ck-content .list-group-horizontal-md > .list-group-item:first-child:not(:last-child) {
    
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    
    border-top-right-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-md > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
    
    border-top-left-radius: 0;
  }

  .ck-content .list-group-horizontal-md > .list-group-item:last-child:not(:first-child) {
    
    border-top-right-radius: var(--bs-list-group-border-radius);
    
    border-bottom-left-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-md > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: 0;
    
    border-top-left-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
  }

  .ck-content .list-group-horizontal-md > .list-group-item.active {
    margin-top: 0;
  }

  .ck-content .list-group-horizontal-md > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    
    border-left-width: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-md > .list-group-item + .list-group-item {
    border-left-width: medium;
    
    border-right-width: 0;
  }

  .ck-content .list-group-horizontal-md > .list-group-item + .list-group-item.active {
    
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    
    border-left-width: var(--bs-list-group-border-width);
  }

  [dir="rtl"] .ck-content .list-group-horizontal-md > .list-group-item + .list-group-item.active {
    margin-left: 0;
    
    margin-right: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: medium;
    
    border-right-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 992px) {
  .ck-content .list-group-horizontal-lg {
    flex-direction: row;
  }

  .ck-content .list-group-horizontal-lg > .list-group-item:first-child:not(:last-child) {
    
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    
    border-top-right-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-lg > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
    
    border-top-left-radius: 0;
  }

  .ck-content .list-group-horizontal-lg > .list-group-item:last-child:not(:first-child) {
    
    border-top-right-radius: var(--bs-list-group-border-radius);
    
    border-bottom-left-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-lg > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: 0;
    
    border-top-left-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
  }

  .ck-content .list-group-horizontal-lg > .list-group-item.active {
    margin-top: 0;
  }

  .ck-content .list-group-horizontal-lg > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    
    border-left-width: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-lg > .list-group-item + .list-group-item {
    border-left-width: medium;
    
    border-right-width: 0;
  }

  .ck-content .list-group-horizontal-lg > .list-group-item + .list-group-item.active {
    
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    
    border-left-width: var(--bs-list-group-border-width);
  }

  [dir="rtl"] .ck-content .list-group-horizontal-lg > .list-group-item + .list-group-item.active {
    margin-left: 0;
    
    margin-right: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: medium;
    
    border-right-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 1200px) {
  .ck-content .list-group-horizontal-xl {
    flex-direction: row;
  }

  .ck-content .list-group-horizontal-xl > .list-group-item:first-child:not(:last-child) {
    
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    
    border-top-right-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xl > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
    
    border-top-left-radius: 0;
  }

  .ck-content .list-group-horizontal-xl > .list-group-item:last-child:not(:first-child) {
    
    border-top-right-radius: var(--bs-list-group-border-radius);
    
    border-bottom-left-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xl > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: 0;
    
    border-top-left-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
  }

  .ck-content .list-group-horizontal-xl > .list-group-item.active {
    margin-top: 0;
  }

  .ck-content .list-group-horizontal-xl > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    
    border-left-width: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xl > .list-group-item + .list-group-item {
    border-left-width: medium;
    
    border-right-width: 0;
  }

  .ck-content .list-group-horizontal-xl > .list-group-item + .list-group-item.active {
    
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    
    border-left-width: var(--bs-list-group-border-width);
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xl > .list-group-item + .list-group-item.active {
    margin-left: 0;
    
    margin-right: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: medium;
    
    border-right-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 1400px) {
  .ck-content .list-group-horizontal-xxl {
    flex-direction: row;
  }

  .ck-content .list-group-horizontal-xxl > .list-group-item:first-child:not(:last-child) {
    
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    
    border-top-right-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xxl > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
    
    border-top-left-radius: 0;
  }

  .ck-content .list-group-horizontal-xxl > .list-group-item:last-child:not(:first-child) {
    
    border-top-right-radius: var(--bs-list-group-border-radius);
    
    border-bottom-left-radius: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xxl > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: 0;
    
    border-top-left-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
  }

  .ck-content .list-group-horizontal-xxl > .list-group-item.active {
    margin-top: 0;
  }

  .ck-content .list-group-horizontal-xxl > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    
    border-left-width: 0;
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xxl > .list-group-item + .list-group-item {
    border-left-width: medium;
    
    border-right-width: 0;
  }

  .ck-content .list-group-horizontal-xxl > .list-group-item + .list-group-item.active {
    
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    
    border-left-width: var(--bs-list-group-border-width);
  }

  [dir="rtl"] .ck-content .list-group-horizontal-xxl > .list-group-item + .list-group-item.active {
    margin-left: 0;
    
    margin-right: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: medium;
    
    border-right-width: var(--bs-list-group-border-width);
  }
}

.ck-content .list-group-flush {
  border-radius: 0;
}

.ck-content .list-group-flush > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

.ck-content .list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

.ck-content .list-group-item-primary {
  --bs-list-group-color: var(--bs-primary-text-emphasis);
  --bs-list-group-bg: var(--bs-primary-bg-subtle);
  --bs-list-group-border-color: var(--bs-primary-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-primary-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-primary-border-subtle);
  --bs-list-group-active-color: var(--bs-primary-bg-subtle);
  --bs-list-group-active-bg: var(--bs-primary-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-primary-text-emphasis);
}

.ck-content .list-group-item-secondary {
  --bs-list-group-color: var(--bs-secondary-text-emphasis);
  --bs-list-group-bg: var(--bs-secondary-bg-subtle);
  --bs-list-group-border-color: var(--bs-secondary-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-secondary-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-border-subtle);
  --bs-list-group-active-color: var(--bs-secondary-bg-subtle);
  --bs-list-group-active-bg: var(--bs-secondary-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-secondary-text-emphasis);
}

.ck-content .list-group-item-success {
  --bs-list-group-color: var(--bs-success-text-emphasis);
  --bs-list-group-bg: var(--bs-success-bg-subtle);
  --bs-list-group-border-color: var(--bs-success-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-success-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-success-border-subtle);
  --bs-list-group-active-color: var(--bs-success-bg-subtle);
  --bs-list-group-active-bg: var(--bs-success-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-success-text-emphasis);
}

.ck-content .list-group-item-info {
  --bs-list-group-color: var(--bs-info-text-emphasis);
  --bs-list-group-bg: var(--bs-info-bg-subtle);
  --bs-list-group-border-color: var(--bs-info-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-info-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-info-border-subtle);
  --bs-list-group-active-color: var(--bs-info-bg-subtle);
  --bs-list-group-active-bg: var(--bs-info-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-info-text-emphasis);
}

.ck-content .list-group-item-warning {
  --bs-list-group-color: var(--bs-warning-text-emphasis);
  --bs-list-group-bg: var(--bs-warning-bg-subtle);
  --bs-list-group-border-color: var(--bs-warning-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-warning-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-warning-border-subtle);
  --bs-list-group-active-color: var(--bs-warning-bg-subtle);
  --bs-list-group-active-bg: var(--bs-warning-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-warning-text-emphasis);
}

.ck-content .list-group-item-danger {
  --bs-list-group-color: var(--bs-danger-text-emphasis);
  --bs-list-group-bg: var(--bs-danger-bg-subtle);
  --bs-list-group-border-color: var(--bs-danger-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-danger-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-danger-border-subtle);
  --bs-list-group-active-color: var(--bs-danger-bg-subtle);
  --bs-list-group-active-bg: var(--bs-danger-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-danger-text-emphasis);
}

.ck-content .list-group-item-light {
  --bs-list-group-color: var(--bs-light-text-emphasis);
  --bs-list-group-bg: var(--bs-light-bg-subtle);
  --bs-list-group-border-color: var(--bs-light-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-light-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-light-border-subtle);
  --bs-list-group-active-color: var(--bs-light-bg-subtle);
  --bs-list-group-active-bg: var(--bs-light-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-light-text-emphasis);
}

.ck-content .list-group-item-dark {
  --bs-list-group-color: var(--bs-dark-text-emphasis);
  --bs-list-group-bg: var(--bs-dark-bg-subtle);
  --bs-list-group-border-color: var(--bs-dark-border-subtle);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-dark-border-subtle);
  --bs-list-group-action-active-color: var(--bs-emphasis-color);
  --bs-list-group-action-active-bg: var(--bs-dark-border-subtle);
  --bs-list-group-active-color: var(--bs-dark-bg-subtle);
  --bs-list-group-active-bg: var(--bs-dark-text-emphasis);
  --bs-list-group-active-border-color: var(--bs-dark-text-emphasis);
}

